@using X.PagedList
@using X.PagedList.Mvc.Core

@model X.PagedList.IPagedList<HumanResourcesProject.Domain.Entities.Employee>



@*@model List<Employee>*@

@{
	ViewData["Title"] = "ListOfPersonnel";
	Layout = "_Layout";
}

<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

</head>

<style>
	#box {
		max-width: 300px;
		position: relative;
		margin: auto;
		margin-top:40px;
	}

		#box .fa-search {
			position: absolute;
			top: 14px;
			left: 12px;
			font-size: 20px;
			color: cornflowerblue;
		}

	#search {
		width: 129px;
		box-sizing: border-box;
		border: 2px solid cornflowerblue;
		border-radius: 4px;
		font-size: 18px;
		padding: 12px 20px 12px 40px;
		-moz-transition: width 0.4s ease-in-out;
		-o-transition: width 0.4s ease-in-out;
		-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
	}

		#search:focus {
			width: 100%;
		}
</style>



<div class="container py-9">
	<div class="row text-center text-white">
		<div class="col-lg-8 mx-auto">
			<h1 class="display-4">Team Members</h1>
		</div>
	</div>
</div>

@*<form id="search-form">
	<input type="text" id="search-input" name="search" placeholder="Search...">
</form>*@

<div class="d-flex flex-row justify-content-start">
	<form id="search-form" class="m-3">
		<div id="box">
			<input type="text" id="search" placeholder="Search..">
			<i class="fa fa-search"></i>
		</div>
	</form>
</div>


@*<div class="table-data__tool input-box m-3">
	<div class="table-data__tool-left">
		<div class="select-box rs-select2--light rs-select2--md">

			<select class="form-control" id="select1" asp-items="ViewBag.Jobs">

				<option hidden>All Jobs</option>

			</select>

		</div>

		<div class="select-box rs-select2--light rs-select2--md">

			<select class="form-control" asp-items="ViewBag.Departments">

				<option hidden>All Departments</option>

			</select>

		</div>
	</div>
	
</div>*@
	



<div class="mt-2">
	<div class="section__content">
		<div class="container-fluid">
			<div class="row" id="employee-list">
				@{
					@foreach (var item in Model)
					{
						<div class="col-md-3">
							<div class="card">
								<div class="card-header">
									<i class="fa fa-user"></i>
									<strong class="card-title pl-2">@item.FirstName @item.SecondName @item.Surname @item.SecondSurname</strong>
								</div>
								<div class="card-body" style="height:450px">
									<div class="d-block">
										<img class="rounded-circle mx-auto d-block" src="~/images/employeeimages/@item.ImagePath" alt="Card image cap" style="height:150px;width:150px">
										<h5 class="text-sm-center mt-2 mb-1">@item.FirstName @item.SecondName @item.Surname @item.SecondSurname</h5>
										<div class="location text-sm-center">
											<i class="fa fa-map-marker"></i> @item.Company.Name - @item.Job.Name <br>
											<span class="small text-uppercase text-muted">@String.Format(" {0:(###) ###-####}", @item.PhoneNumber) </span>
											<div class="d-flex align-items-center justify-content-center">
												<i class="fa fa-user"></i>
												@if (item.Status == 0)
												{
													<text> Active</text>
												}
												else
												{
													<text> Pasive </text>
												}
											</div>
										</div>
									</div>
								</div>
								<hr>

								<div class="card-text text-sm-center">
									<a asp-action="Detail" asp-controller="Employee" class="btn btn-outline-primary btn-sm mb-4" asp-route-id="@item.Id">Detail</a>
								</div>
							</div>
						</div>
					}
				}
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
						<li class="page-item @(!Model.HasPreviousPage ? "disabled" : "")">
							<a class="page-link" href="@Url.Action("ListOfEmployee", new { page = Model.PageNumber - 1 })">Previous</a>
						</li>

						@for (int i = 1; i <= Model.PageCount; i++)
						{
							<li class="page-item @(i == Model.PageNumber ? "active" : "")">
								<a class="page-link" href="@Url.Action("ListOfEmployee", new { page = i })">@i</a>
							</li>
						}

						<li class="page-item @(!Model.HasNextPage ? "disabled" : "")">
							<a class="page-link" href="@Url.Action("ListOfEmployee", new { page = Model.PageNumber + 1 })">Next</a>
						</li>
					</ul>
				</nav>


			</div>
		</div>
	</div>
</div>
<br />


@*@html.pagedlistpager((ıpagedlist)model, page => url.action("listofemployee", new { page }))*@












@section Scripts {
	<script>

		var timeout = null;
		var $employeeList = $("#employee-list");

		$("#search").on("keyup", function () {
			var value = $(this).val().toLowerCase();

			clearTimeout(timeout);
			timeout = setTimeout(function () {
				$.ajax({
					type: "GET",
					url: "/Manager/Employee/Search",
					data: { "search": value },
					success: function (result) {
						$employeeList.html($(result).find("#employee-list").html());
					},
					error: function (error) {
						console.log(error);
					}
				});
			}, 200);
		});

	</script>
}