@using HumanResourcesProject.Domain.Enums;
@model List<ListOfExpenseDto>
@{
    ViewData["Title"] = "ListOfExpense";
    Layout = "_Layout";
}



<div class="container">
    <h1 class="my-2">List Of Expense</h1>
    <div class="bd-example">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-pending-tab" data-bs-toggle="pill" data-bs-target="#pills-pending" type="button" role="tab" aria-controls="pills-pending" aria-selected="false">
                    @{
                        int numberPending = 0;
                        foreach (var item in Model)
                        {
                            if (item.ExpenseType == ExpenseType.Travel)
                            {
                                numberPending++;
                            }
                        }
                        <text>Travel ( @numberPending )</text>
                    }
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link " id="pills-approved-tab" data-bs-toggle="pill" data-bs-target="#pills-approved" type="button" role="tab" aria-controls="pills-approved" aria-selected="true">
                    @{
                        int numberApproved = 0;
                        foreach (var item in Model)
                        {
                            if (item.ExpenseType == ExpenseType.Accomodation)
                            {
                                numberApproved++;
                            }
                        }
                        <text>Accomodation ( @numberApproved )</text>
                    }
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-denied-tab" data-bs-toggle="pill" data-bs-target="#pills-denied" type="button" role="tab" aria-controls="pills-denied" aria-selected="false">
                    @{
                        int numberDenied = 0;
                        foreach (var item in Model)
                        {
                            if (item.ExpenseType == ExpenseType.FoodAndDrink)
                            {
                                numberDenied++;
                            }
                        }
                        <text>FoodAndDrink ( @numberDenied )</text>
                    }
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-total-tab" data-bs-toggle="pill" data-bs-target="#pills-total" type="button" role="tab" aria-controls="pills-total" aria-selected="false" onclick="result()">
                    @{
                        int numberTotal = 0;
                        foreach (var item in Model)
                        {
                            numberTotal++;
                        }
                        <text>Total Expense (@numberTotal) </text>
                    }
                </button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-pending" role="tabpanel" aria-labelledby="pills-pending-tab">
                @{
                    if (numberPending > 0)
                    {
                        foreach (var item in Model)
                        {
                            if (item.ExpenseType == ExpenseType.Travel)
                            {
                                if (item.AdvanceStatus == AdvanceStatus.Pending)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            Pending - @Enum.GetName(item.ExpenseType)
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">@item.Employee.FirstName @item.Employee.SecondName @item.Employee.Surname @item.Employee.SecondSurname</h5>
                                            <p class="card-text mt-2">@item.Explanation</p>
                                            <p class="card-text btn btn-info rounded-pill mt-2">@(item.AmountOfExpense + " " + Enum.GetName(item.Currency))</p>
                                            <p class="card-text mt-2 font-italic">@(Convert.ToInt32((DateTime.Today - item.DateOfExpense).TotalDays + 1).ToString()) days ago</p>
                                        </div>
                                    </div>
                                }
                                else if (item.AdvanceStatus == AdvanceStatus.Approved)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            Approved - @Enum.GetName(item.ExpenseType)
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">@item.Employee.FirstName @item.Employee.SecondName @item.Employee.Surname @item.Employee.SecondSurname</h5>
                                            <p class="card-text mt-2">@item.Explanation</p>
                                            <p class="card-text btn btn-info rounded-pill mt-2">@(item.AmountOfExpense + " " + Enum.GetName(item.Currency))</p>
                                            <p class="card-text mt-2 font-italic">@(Convert.ToInt32((DateTime.Today - item.DateOfExpense).TotalDays + 1).ToString()) days ago</p>
                                        </div>
                                    </div>
                                }
                                else if (item.AdvanceStatus == AdvanceStatus.Denied)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            Denied - @Enum.GetName(item.ExpenseType)
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">@item.Employee.FirstName @item.Employee.SecondName @item.Employee.Surname @item.Employee.SecondSurname</h5>
                                            <p class="card-text mt-2">@item.Explanation</p>
                                            <p class="card-text btn btn-info rounded-pill mt-2">@(item.AmountOfExpense + " " + Enum.GetName(item.Currency))</p>
                                            <p class="card-text mt-2 font-italic">@(Convert.ToInt32((DateTime.Today - item.DateOfExpense).TotalDays + 1).ToString()) days ago</p>
                                        </div>
                                    </div>
                                }

                            }
                        }
                    }
                    else
                    {
                        <div class="card">
                            <div>
                                No expenditure has been made.
                            </div>
                        </div>
                    }

                }
            </div>
            <div class="tab-pane fade " id="pills-approved" role="tabpanel" aria-labelledby="pills-approved-tab">
                @{
                    if (numberApproved > 0)
                    {
                        foreach (var item in Model)
                        {
                            if (item.ExpenseType == ExpenseType.Accomodation)
                            {
                                if (item.AdvanceStatus == AdvanceStatus.Pending)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            Pending - @Enum.GetName(item.ExpenseType)
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">@item.Employee.FirstName @item.Employee.SecondName @item.Employee.Surname @item.Employee.SecondSurname</h5>
                                            <p class="card-text mt-2">@item.Explanation</p>
                                            <p class="card-text btn btn-info rounded-pill mt-2">@(item.AmountOfExpense + " " + Enum.GetName(item.Currency))</p>
                                            <p class="card-text mt-2 font-italic">@(Convert.ToInt32((DateTime.Today - item.DateOfExpense).TotalDays + 1).ToString()) days ago</p>
                                        </div>
                                    </div>
                                }
                                else if (item.AdvanceStatus == AdvanceStatus.Approved)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            Approved - @Enum.GetName(item.ExpenseType)
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">@item.Employee.FirstName @item.Employee.SecondName @item.Employee.Surname @item.Employee.SecondSurname</h5>
                                            <p class="card-text mt-2">@item.Explanation</p>
                                            <p class="card-text btn btn-info rounded-pill mt-2">@(item.AmountOfExpense + " " + Enum.GetName(item.Currency))</p>
                                            <p class="card-text mt-2 font-italic">@(Convert.ToInt32((DateTime.Today - item.DateOfExpense).TotalDays + 1).ToString()) days ago</p>
                                        </div>
                                    </div>
                                }
                                else if (item.AdvanceStatus == AdvanceStatus.Denied)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            Denied - @Enum.GetName(item.ExpenseType)
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">@item.Employee.FirstName @item.Employee.SecondName @item.Employee.Surname @item.Employee.SecondSurname</h5>
                                            <p class="card-text mt-2">@item.Explanation</p>
                                            <p class="card-text btn btn-info rounded-pill mt-2">@(item.AmountOfExpense + " " + Enum.GetName(item.Currency))</p>
                                            <p class="card-text mt-2 font-italic">@(Convert.ToInt32((DateTime.Today - item.DateOfExpense).TotalDays + 1).ToString()) days ago</p>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    }
                    else
                    {
                        <div class="card">
                            <div>
                                No expenditure has been made.
                            </div>
                        </div>
                    }

                }
            </div>




            <div class="tab-pane fade" id="pills-denied" role="tabpanel" aria-labelledby="pills-denied-tab">
                @{
                    if (numberDenied > 0)
                    {
                        foreach (var item in Model)
                        {
                            if (item.ExpenseType == ExpenseType.FoodAndDrink)
                            {
                                if (item.AdvanceStatus == AdvanceStatus.Pending)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            Pending - @Enum.GetName(item.ExpenseType)
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">@item.Employee.FirstName @item.Employee.SecondName @item.Employee.Surname @item.Employee.SecondSurname</h5>
                                            <p class="card-text mt-2">@item.Explanation</p>
                                            <p class="card-text btn btn-info rounded-pill mt-2">@(item.AmountOfExpense + " " + Enum.GetName(item.Currency))</p>
                                            <p class="card-text mt-2 font-italic">@(Convert.ToInt32((DateTime.Today - item.DateOfExpense).TotalDays + 1).ToString()) days ago</p>
                                        </div>
                                    </div>
                                }
                                else if (item.AdvanceStatus == AdvanceStatus.Approved)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            Approved - @Enum.GetName(item.ExpenseType)
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">@item.Employee.FirstName @item.Employee.SecondName @item.Employee.Surname @item.Employee.SecondSurname</h5>
                                            <p class="card-text mt-2">@item.Explanation</p>
                                            <p class="card-text btn btn-info rounded-pill mt-2">@(item.AmountOfExpense + " " + Enum.GetName(item.Currency))</p>
                                            <p class="card-text mt-2 font-italic">@(Convert.ToInt32((DateTime.Today - item.DateOfExpense).TotalDays + 1).ToString()) days ago</p>
                                        </div>
                                    </div>
                                }
                                else if (item.AdvanceStatus == AdvanceStatus.Denied)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            Denied - @Enum.GetName(item.ExpenseType)
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">@item.Employee.FirstName @item.Employee.SecondName @item.Employee.Surname @item.Employee.SecondSurname</h5>
                                            <p class="card-text mt-2">@item.Explanation</p>
                                            <p class="card-text btn btn-info rounded-pill mt-2">@(item.AmountOfExpense + " " + Enum.GetName(item.Currency))</p>
                                            <p class="card-text mt-2 font-italic">@(Convert.ToInt32((DateTime.Today - item.DateOfExpense).TotalDays + 1).ToString()) days ago</p>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    }
                    else
                    {
                        <div class="card">
                            <div>
                                No expenditure has been made.
                            </div>
                        </div>
                    }

                }
            </div>

            <div class="tab-pane fade" id="pills-total" role="tabpanel" aria-labelledby="pills-total-tab">
                @{
                    if (numberDenied > 0)
                    {
                        foreach (var item in Model)
                        {
                            if (item.AdvanceStatus == AdvanceStatus.Pending)
                            {
                                <div class="card">
                                    <div class="card-header">
                                        Pending - @Enum.GetName(item.ExpenseType)
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Employee.FirstName @item.Employee.SecondName @item.Employee.Surname @item.Employee.SecondSurname</h5>
                                        <p class="card-text mt-2">@item.Explanation</p>
                                        <p id="expense1" class="card-text btn btn-info rounded-pill mt-2">@(item.AmountOfExpense + " " + Enum.GetName(item.Currency))</p>
                                        <p class="card-text mt-2 font-italic">@(Convert.ToInt32((DateTime.Today - item.DateOfExpense).TotalDays + 1).ToString()) days ago</p>
                                    </div>
                                </div>
                            }
                            else if (item.AdvanceStatus == AdvanceStatus.Approved)
                            {
                                <div class="card">
                                    <div class="card-header">
                                        Approved - @Enum.GetName(item.ExpenseType)
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Employee.FirstName @item.Employee.SecondName @item.Employee.Surname @item.Employee.SecondSurname</h5>
                                        <p class="card-text mt-2">@item.Explanation</p>
                                        <p id="expense2" class="card-text btn btn-info rounded-pill mt-2">@(item.AmountOfExpense + " " + Enum.GetName(item.Currency))</p>
                                        <p class="card-text mt-2 font-italic">@(Convert.ToInt32((DateTime.Today - item.DateOfExpense).TotalDays + 1).ToString()) days ago</p>
                                    </div>
                                </div>
                            }
                            else if (item.AdvanceStatus == AdvanceStatus.Denied)
                            {
                                <div class="card">
                                    <div class="card-header">
                                        Denied - @Enum.GetName(item.ExpenseType)
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Employee.FirstName @item.Employee.SecondName @item.Employee.Surname @item.Employee.SecondSurname</h5>
                                        <p class="card-text mt-2">@item.Explanation</p>
                                        <p id="expense3" class="card-text btn btn-info rounded-pill mt-2">@(item.AmountOfExpense + " " + Enum.GetName(item.Currency))</p>
                                        <p class="card-text mt-2 font-italic">@(Convert.ToInt32((DateTime.Today - item.DateOfExpense).TotalDays + 1).ToString()) days ago</p>
                                    </div>
                                </div>
                            }

                        }
                        <div class="card">
                            <div class="card-header">
                                Total Expense
                            </div>
                            <div class="card-body">


                                <div id="total" class="card-text btn btn-danger rounded-pill mt-2">@ViewBag.Total</div>

                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card">
                            <div>
                                No expenditure has been made.
                            </div>
                        </div>
                    }

                }
            </div>
        </div>
    </div>
</div>


<script>

    function result() {
        var num1 = parseInt(document.getElementById("expense1").value);
        var num2 = parseInt(document.getElementById("expense2").value);
        var num3 = parseInt(document.getElementById("expense3").value);

        var toplam = num1 + num2 + num3;
        document.getElementById("total").innerHTML = "Total: " + toplam;
    }
</script>